.container {
    background-image: url('/background-tech.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

    img {
        width: 100%;
        max-width: 20rem;
        filter: invert(38%) sepia(65%) saturate(300%) hue-rotate(190deg);
    }

    mat-card {
        box-shadow: var(--mat-sys-level5);
        margin-left: 20px;
        margin-right: 20px;
        max-width: 800px;
        padding: 15px;
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
        text-align: center;
    }
}