.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 95vh;
  background: var(--mat-sys-surface);
}

img {
  width: clamp(150px, 30vw, 300px);
  padding: 1rem;
  background-color: var(--mat-sys-surface);
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  padding-top: 2rem;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  background-color: var(--mat-sys-surface);
  border-radius: 10px;
  box-shadow: var(--mat-sys-level5);
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide h2 {
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);
}

.slide p {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-on-surface-variant);
}

.controls {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}