<mat-card class="form-container">
  <h1>TechnologySolutions</h1>

  <form [formGroup]="form">
    <!-- CPF Field -->
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00"
        [dropSpecialCharacters]="false" />
      @if (form.get('cpf')?.hasError('required')) {
      <mat-error>CPF é obrigatório</mat-error>
      }
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (form.get('password')?.hasError('required')) {
      <mat-error>A senha é obrigatória</mat-error>
      }
      @if (form.get('password')?.hasError('pattern')) {
      <mat-error>
        A senha deve ter no mínimo 8 caracteres, letra maiúscula, letra minúscula,
        números e caracteres especiais
      </mat-error>
      }
    </mat-form-field>

    <!-- Submit Button -->
    <button class="send-button" matButton="filled" (click)="send()" mat-button [disabled]="form.invalid" type="submit">
      Entrar
    </button>
  </form>



  <!-- Forgot Password Link -->
  <a routerLink="#">esqueci minha senha</a>
</mat-card>