.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Cria colunas responsivas
  gap: 20px; // Espaço entre os cards
}

.dashboard-card {
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.3);
  // Adiciona um efeito "levantar" no hover
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
    transform: translateY(-10px); // Levanta o card
    box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.7); // Sombra um pouco mais forte
  }
}

.metric {
  font-size: 2.5rem; // Tamanho grande para o número
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
