.container {
    background: linear-gradient(135deg, #f0f4f8, #d9e8ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .hero-text {
        color: black;
        font-size: 2rem;
        max-width: 800px;
        text-align: center;
    }

    .login-button {
        font-size: 32px;
        background-color: #1976d2;
        color: white;
        height: 5rem;
        width: 15rem;
    }
}

