mat-tab-group {
    /* Fundo branco para o componente */
    background-color: var(--mat-sys-secondary-container);

    /* Arredonda as bordas para um visual mais suave */
    border-radius: 12px;

    /* Adiciona uma sombra para dar o efeito de flutuar */
    box-shadow: var(--mat-sys-level5);


    /* Define a largura máxima do componente */
    max-width: 900px;
    width: 100%;
}

:host {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 24px;
    background-color: var(--mat-sys-secondary-container);
}