.header {
    background-color: var(--mat-sys-primary-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    margin-left: auto;
}

@media (min-width: 1440px) {
  .menu-button {
    display: none;
  }
}