.header {
    background-color: var(--mat-sys-primary-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
