<mat-toolbar class="header">


    <span class="name">TechnologySolution</span>


    
    <button matIconButton [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>

        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Perfil</span>
        </button>

        @if (true)
        {
        <button mat-menu-item>
            <mat-icon>admin_panel_settings</mat-icon>
            <a routerLink="/dashboard/invite"><span>Convidar Colaboradores</span></a>
        </button>
        }

        @if (true)
        {
        <button mat-menu-item>
            <mat-icon>admin_panel_settings</mat-icon>
            <a routerLink="/dashboard/admin"><span>Gerencial</span></a>
        </button>
        }

    </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>