<div class="table-container">

  @if (isLoading || isDeleting || isUploadingPdf) {
    <div class="spinner-overlay">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        @if (isUploadingPdf) {
          <p class="spinner-text">Enviando PDF...</p>
        }
    </div>
  }

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let cert"> 
        <span>{{cert.name}}</span> 
      </td>
    </ng-container>

      <ng-container matColumnDef="modality">
      <th mat-header-cell *matHeaderCellDef> Modalidade </th>
      <td mat-cell *matCellDef="let cert" class="text-center"> 
        
        <div class="modality-display" 
            [ngClass]="{
                'modality-online': getModalityText(cert.modality) === 'Online', 
                'modality-presencial': getModalityText(cert.modality) === 'Presencial' 
            }">
          <mat-icon matTooltip="{{ getModalityText(cert.modality) }}">
            {{ getModalityIcon(cert.modality) }}
          </mat-icon>
          <span class="modality-text">
            {{ getModalityText(cert.modality) }}
          </span>
        </div>
        
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let cert" class="text-center">
        <span [ngClass]="cert.isActive ? 'status-active' : 'status-inactive'">
          {{ cert.isActive ? 'Ativa' : 'Inativa' }}
        </span>
      </td>
    </ng-container>

  

    <ng-container matColumnDef="validUntil">
      <th mat-header-cell *matHeaderCellDef> Início </th>
      <td mat-cell *matCellDef="let cert"> {{ cert.createdAt | date:'dd/MM/yyyy' }} </td>
    </ng-container>
    
    <ng-container matColumnDef="pdfFile">
      <th mat-header-cell *matHeaderCellDef> Arquivo PDF </th>
       <td mat-cell *matCellDef="let cert" class="text-center">
         
            <div class="action-buttons-wrapper pdf-wrapper"> 
                
                <!-- 1. CASO O PDF JÁ EXISTA (MOSTRAR VISUALIZAÇÃO E BOTÃO SUBSTITUIR) -->
                @if (cert.pdfPath) {
                    
                    <!-- Ícone de Visualização (Sempre desabilitado e com tooltip) -->
                    <span matTooltip="{{ cleanPdfFileName(cert.pdfFileName) }}"> 
                        <button mat-icon-button disabled class="pdf-icon-button" style="pointer-events: none;">
                            <mat-icon>picture_as_pdf</mat-icon>
                        </button>
                    </span>
                    
                    <!-- Botão de Substituir (DESABILITADO com Tooltip) -->
                    <span matTooltip="Substituir PDF a Partir da Tabela(Funcionalidade disponível em breve)"
                          [style.cursor]="'not-allowed'">
                        <button mat-icon-button 
                                class="pdf-upload-button"
                                disabled
                                style="pointer-events: none;"> 
                            <mat-icon>upload</mat-icon>
                        </button>
                    </span>
                    
                } @else {
                    <!-- 2. CASO O PDF NÃO EXISTA (MOSTRAR BOTÃO ADICIONAR) -->
                    
                    <!-- Botão de Adicionar (DESABILITADO com Tooltip) -->
                    <span matTooltip="Adicionar PDF a Partir da Tabela(Funcionalidade disponível em breve)"
                          [style.cursor]="'not-allowed'">
                        <button mat-icon-button 
                                class="pdf-upload-button" 
                                disabled
                                style="pointer-events: none;">
                            <mat-icon>upload_file</mat-icon>
                        </button>
                    </span>
                }
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let cert">
        <div class="action-buttons-wrapper">
            <button mat-icon-button 
                    (click)="openDetails.emit(cert)" matTooltip="Ver detalhes/Editar" 
                    class="action-button-edit"> 
              <mat-icon>edit_note</mat-icon>
            </button>
        </div>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        Nenhuma certificação encontrada com os filtros aplicados.
      </td>
    </tr>
  </table>
</div>