<mat-card class="invite-card">
  <mat-card-header>
    <mat-card-title>Painel de Convites</mat-card-title>
    <mat-card-subtitle>Visualize o status dos convites enviados</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- Seção de Filtros -->
    <form [formGroup]="filterForm" class="filter-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Filtrar por e-mail">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status" placeholder="Filtrar por status">
      </mat-form-field>

      <!-- Botão para Buscar com Filtro -->
      <button matButton="filled" type="button" (click)="fetchInvites()">Buscar</button>

      <!-- Botão para Limpar Filtros -->
      <button matButton="filled" type="button" (click)="clearFilters()">Limpar Filtros</button>
    </form>

    <div class="table-container">

      @if (isLoading) {
      <div class="spinner-overlay">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      </div>
      }

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail Convidado </th>
          <td mat-cell *matCellDef="let invite"> {{invite.email}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let invite">
            <mat-chip>
              {{ invite.status | titlecase }}
              <mat-icon>
                {{ getIconForStatus(invite.status) }}
              </mat-icon>
            </mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Data de criação </th>
          <td mat-cell *matCellDef="let invite"> {{ invite.createdAt | date: 'dd/MM/yyyy HH:mm' }} </td>
        </ng-container>

        <ng-container matColumnDef="expiresAt">
          <th mat-header-cell *matHeaderCellDef> Data de expiração </th>
          <td mat-cell *matCellDef="let invite"> {{ invite.expiresAt | date: 'dd/MM/yyyy HH:mm' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Nenhum convite encontrado.
          </td>
        </tr>
      </table>

      <mat-paginator [length]="totalInvites" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePageEvent($event)"
        aria-label="Selecione a página de convites">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>