.invite-card {
    background-color: var(--mat-sys-secondary-container);
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.3);
    margin: 20px;
    
}

table {
    background-color: var(--mat-sys-background);
}

mat-card-subtitle {
    font: var(--mat-sys-label-large);
    color: var(--mat-sys-on-secondary-container);
    margin-bottom: 10px;
}

mat-card-title {
    font: var(--mat-sys-title-large);
    color: var(--mat-sys-on-primary-container);
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}