body {
  background: var(--mat-sys-surface-container);
}

h1 {
  margin-top: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font: var(--mat-sys-display-small);
  color: var(--mat-sys-on-surface-container);
  margin-bottom: 1rem;
}

.vagas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; /* centraliza horizontalmente */
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.vaga-card {
  flex: 1 1 280px; /* flex-grow 1, flex-shrink 1, base width 280px */
  max-width: 320px;
  box-shadow: var(--mat-sys-level3);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--mat-sys-primary-container);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vaga-card:hover {
  box-shadow: var(--mat-sys-level5);
  cursor: pointer;
}

mat-card-header {
  margin-bottom: 0.8rem;
}

mat-card-title {
  font-weight: 600;
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-primary-container-variant)
}

mat-card-subtitle {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-primary-container);
}

mat-card-content p {
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-primary-container-variant);
  margin: 0;
  min-height: 80px;
}