.btn-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  transition: opacity 0.3s ease;
  opacity: 0;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.btn-top.show {
  opacity: 1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: var(--mat-sys-surface-container);
  height: 56px;
  position: relative;
  z-index: 20;
}

.logo {
  height: 40px;
  margin-left: 0;
  filter: invert(38%) sepia(65%) saturate(300%) hue-rotate(190deg);
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  display: block;
  color: var(--mat-sys-on-surface);
  padding-left: 10x;
}

.nav-links {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: var(--mat-sys-surface-container);
  flex-direction: column;
  display: none;
  list-style: none;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 8px 8px;
}

.nav-links.open {
  display: flex;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-title-medium);
}

.nav-links li a:hover,
.nav-links li a:focus {
  color: var(--mat-sys-primary);
}

.dark-mode-toggle {
  margin-left: auto;
  color: var(--mat-sys-on-surface);
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-bottom: 0;
  }

  .logo {
    margin-left: 1rem;
  }

  .dark-mode-toggle {
    margin-left: 1.5rem;
  }
}