<mat-card class="user-card">
  
  <mat-card-header class="custom-card-header">
    <div>
      <mat-card-title>Painel de Usuários</mat-card-title>
      <mat-card-subtitle>Filtre e visualize os usuários do sistema</mat-card-subtitle>
    </div>
    
    <div class="header-actions">
      @if (authService.hasPermission('INVITE_USER')) {
        <button mat-flat-button color="primary" (click)="openAddUserModal()" matTooltip="Convidar novo usuário">
          <mat-icon>person_add</mat-icon> Adicionar Usuário
        </button>
      }
      
      @if (authService.hasPermission('EXPORT_USERS')) {
        <button mat-stroked-button (click)="export()" matTooltip="Exportar lista filtrada para Excel">
          <mat-icon>download</mat-icon> Exportar Tabela
        </button>
      }
    </div>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="filterForm" class="action-bar">
      
      <div class="filter-group">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder="Filtrar por nome">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="Filtrar por e-mail">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" placeholder="Filtrar por CPF">
        </mat-form-field>
      </div>

      <div class="action-group">
        <button mat-stroked-button color="warn" (click)="resetFilters()" type="button">
          <mat-icon>delete_forever</mat-icon> Limpar Filtros
        </button>
        </div>
    </form>

    <app-users-list
      [dataSource]="dataSource"
      [isLoading]="isLoading"
      [displayedColumns]="['name', 'email', 'actions']"
      (viewDetails)="openUserDetails($event)"
      (deleteUser)="deleteUser($event)">
    </app-users-list>

  </mat-card-content>

  <mat-card-actions class="custom-card-actions">
    <mat-paginator 
      [length]="totalUsers" 
      [pageSize]="10" 
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)" 
      aria-label="Selecione a página de usuários">
    </mat-paginator>
  </mat-card-actions>
</mat-card>