<div class="dashboard-grid">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Usuários Totais</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="metric">{{ totalUsers }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Novos Usuários (7d)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="metric">{{ newUsersLastWeek }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Convites Pendentes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="metric">{{ pendingInvites }}</p>
    </mat-card-content>
  </mat-card>

   <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Certificações Ativas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="metric">{{ activeCertifications }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Adicione mais cards conforme necessário -->

</div>
