<mat-card class="form-container">
  <div class="logo-container">
    <img src="logo2.png" alt="Logo da empresa" />
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" placeholder="000.000.000-00" mask="000.000.000-00" />
      @if (form.get('cpf')?.hasError('required')) {
      <mat-error>CPF é obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'" />
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility($event)">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (form.get('password')?.hasError('required')) {
      <mat-error>A senha é obrigatória</mat-error>
      } @else if (form.get('password')?.hasError('pattern') || form.get('password')?.hasError('minlength')) {
      <mat-error>
        A senha deve ser mais forte (mín. 8 caracteres, maiúsculas, minúsculas, números e símbolos).
      </mat-error>
      }
    </mat-form-field>

    <button class="send-button" mat-raised-button color="primary" type="submit"
      [disabled]="form.invalid || isSubmitting()">
      @if (isSubmitting()) {
      <mat-spinner [diameter]="24"></mat-spinner>
      } @else {
      Entrar
      }
    </button>
  </form>

  <a routerLink="/forgot-password">Esqueci minha senha</a>
</mat-card>